<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schnapskarussel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
		<img src="{{ url_for('static', filename='images/6er.png') }}" alt="Mein Bild">
        <h1>Willkommen zur 6er-Verköstigung</h1>
        <p>Lasst es Euch schmecken</p>
        <h2>Pumpensteuerung</h2>
		<button onclick="fetch('/start')">Pumpe AN</button>
		<button onclick="fetch('/stop')">Pumpe AUS</button>
		<h2>Motorsteuerung</h2>
		<button onclick="fetch('/motor_rechts')">Motor rechts</button>
		<button onclick="fetch('/motor_links')">Motor links</button>
    </div>
</body>
</html>
