<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Webapp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Willkommen zur Flask Webapp</h1>
        <p>Dies ist eine einfache Flask-Anwendung mit CSS-Design.</p>
        <button>Klick mich</button>
		<button onclick="fetch('/start')">Pumpe AN</button>
		<button onclick="fetch('/stop')">Pumpe AUS</button>
    </div>
</body>
</html>
